body {
    background-image: url('wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.countdown-text-div {
    text-align: center;
    color: white;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border: none;
    background-color: white;
    height: 1px;
}

.static-text {
    font-family: 'Rowdies', cursive;
    letter-spacing: 5px;
    font-size: 45px;
}

.countdown-text {
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 3px;
    word-spacing: 5px;
    color: yellow;

}

.news {
    background-color: whitesmoke;
    text-align: center;
    width: 70%;
    margin-top: 5%;
    height: 400px;
    display: block;
    border-radius: 25px;
    margin-left: auto;
    overflow: scroll;
    margin-right: auto;
}

.news-text {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 25px;
    -webkit-box-shadow: 0px -1px 30px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 30px -2px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 30px -2px darkred;
}

a {
    text-decoration: none;
    color: black;
    transition: .25s;
}

a:hover {
    transition: .25s;
    color: dodgerblue;
}